*,
*::before,
*::after {
  box-sizing: border-box;
}

.scrollContainer {
  display: grid;
  max-height: inherit;
  max-width: inherit;
  scrollbar-width: none;
}

.scrollContainer[data-orientation="horizontal"] {
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
}

.scrollContainer[data-orientation="vertical"] {
  scroll-snap-type: y mandatory;
  grid-auto-flow: row;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
}

.scrollContainer::-webkit-scrollbar {
  appearance: none;
  width: 0;
  height: 0;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.item {
  overflow: hidden;
}

.flexContainer {
  display: flex;
  overflow: auto;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
}

.flexItem {
  width: 300px;
  height: 300px;
  max-width: 100%;
  flex-shrink: 0;
}
