.root {
  display: grid;
  grid-template-areas: "tabs buttons" "scroller scroller";
  grid-template-rows: min-content 1fr;
  gap: 16px;
}
.scroller {
  grid-area: scroller;
  display: grid;
  overflow: auto;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  scrollbar-width: none;
}
.item {
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.tabs {
  grid-area: tabs;
  display: flex;
  gap: 16px;
}
.tab[aria-selected="true"] {
  background-color: darkgrey;
}
/* :where(.button, .tab) { */
/*   all: revert; */
/* } */
